<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.plantform.mapper.PlantformMerchantGamePlayMapper">

    <resultMap id="BaseResultMap" type="com.gw.plantform.entity.PlantformMerchantGamePlayEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="merchantId" column="merchant_id" jdbcType="BIGINT"/>
            <result property="gameId" column="game_id" jdbcType="BIGINT"/>
            <result property="gamePlayId" column="game_play_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="SMALLINT"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,merchant_id,game_id,
        game_play_id,status,creator,
        updater,created_at,updated_at
    </sql>
    <select id="getPageMerchantGamePlayList"
            resultType="com.gw.plantform.resp.merchantGamePlay.PageMerchantGamePlayListResp">
        select pmgp.merchant_id,pm.merchant_name,gi.name,gp.name,pmgp.status,gi.order
        from plantform_merchant_game_play pmgp
        left join plantform_merchant pm on pm.id=pmgp.merchant_id
        left join game_info gi on gi.id=pmgp.game_id
        left join game_play gp on gp.id=pmgp.game_play_id
        where
            <if test="merchantId != null">
                pmgp.merchant_id = #{merchantId}
            </if>
            <if test="gameId != null">
                pmgp.gameId = #{gameId}
            </if>
            <if test="status != null">
                pmgp.status = #{status}
            </if>
    </select>
</mapper>
