<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.game.mapper.PlantformGamePlayMapper">

    <resultMap id="BaseResultMap" type="com.gw.game.entity.PlantformGamePlayEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="plantformId" column="plantform_id" jdbcType="BIGINT"/>
            <result property="gamePlayId" column="game_play_id" jdbcType="BIGINT"/>
            <result property="gameId" column="game_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="SMALLINT"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getPagePlantformGamePlayList" resultType="com.gw.game.resp.plantformGamePlay.PagePlantformGamePlayListResp">
        select pgp.game_id,pi.platform_name,gi.name,gp.name,pgp.status,gi.order from plantform_game_play pgp
        left join game_info gi on gi.id=pgp.game_id
        left join game_play gp on gp.id=pgp.game_play_id
        left join plantform_info pi on pi.id=pgp.plantform_id
        where pgp.plantform_id = #{plantformId} and pgp.game_id = #{gameId}
            <if test="status != null">
                and pgp.status = #{status}
            </if>
    </select>
    <update id="statusPlantformGamePlay">
        update plantform_game_play pgp


        set id =#{}
    </update>

    <sql id="Base_Column_List">
        id,plantform_id,game_id,
        status,creator,updater,
        created_at,updated_at
    </sql>
</mapper>
