<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.plantform.mapper.PlantformMerchantGameMapper">

    <resultMap id="BaseResultMap" type="com.gw.plantform.entity.PlantformMerchantGameEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="merchantId" column="merchant_id" jdbcType="BIGINT"/>
            <result property="gameId" column="game_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="SMALLINT"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="getPageMerchantGameList"
            resultType="com.gw.plantform.resp.merchantGame.PageMerchantGameListResp">
        select pmg.merchant_id,pm.merchant_name,gi.name,gp.name,pmg.status,gi.order
        from plantform_merchant_game_play pmg
        left join plantform_merchant pm on pm.id=pmg.merchant_id
        left join game_info gi on gi.id=pmg.game_id
        left join game_play gp on gp.id=pmg.game_play_id
        where
        <if test="merchantId != null">
            pmg.merchant_id = #{merchantId}
        </if>
        <if test="gameId != null">
            and pmg.gameId = #{gameId}
        </if>
        <if test="status != null">
            and pmg.status = #{status}
        </if>
    </select>
    <sql id="Base_Column_List">
        id,merchant_id,game_id,
        status,creator,updater,
        created_at,updated_at
    </sql>
</mapper>
